* {
    font-family:  Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(./src/background.jpg);
    background-size: cover;
}

:root {
    --a: #162521;
    --b: #2d4d25;
    --c: #447529;
    --d: #5f923a;
    --e: #91b569;
    --f: #ebebd3;
    --g: #ac9c88;
    --h: #543f35;
    --i: #3b322c;
    --j: #eee;

    --1: #0c1821;
    --2: #1B2A41;
    --3: #324a5f;
    --4: #7f8a9e;
    --5: #a6aabd;
    --6: #ccc9dc;


    --grey-1: #111;
    --grey-2: #525252;
    --grey-3: #777;
    --grey-4: #bbb;
}

/* NAV */

nav.side {
    height: 100vh;
    background-color: var(--d);
    width: 18vw;
    position: fixed;
    display: flex;
    flex-direction: column;
}

nav.side > div.about {
    margin-top: auto;
    color: var(--grey-1);
    font-size: small;
}

nav.side > * {
    margin: 1vw;
}

.eingerückt {
    margin-left: 1rem;
}

.abstand {
    margin-bottom: 0.5rem;
}

.inhaltsverzeichnis {
    display: flex;
    flex-direction: column;
}

a, a:link {
    color: black;
    text-decoration: none;
}

h1 {
    color: var(--grey-1);
}

h1.heading {
    color: var(--grey-4);
    margin-bottom: 1rem;
}

h3 {
	color: var(--grey-2)
}

/* MAIN */

main {
    margin-left: 18vw;
    height: auto;
    padding: 1rem;
}

button {
    padding: 0.4rem 0.9rem;
    margin: 1rem 0.2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--f);
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover {
    padding: 0.6rem 1.1rem;
    margin: 0.8rem 0;
}

button:active {
    background-color: var(--g);
}

/* FORMS */

form > div.body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

form > div.body > div.card {
    padding: 1rem;
    background-color: var(--j);
    border-radius: 0.7rem;
}

form > div.body > div.card.active {
    padding: calc(1rem - 2px);
    border: 2px solid var(--c);
}

/* SECTIONS */

section.info-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #eee;
    border-radius: 0.7rem;
} 

section.info-card > div.header {
    display: flex;
}

section.info-card > div.header > h3 {
    margin-left: 1rem;
    align-self: center;
}

section.info-card > div.header > h1 {
    border-right: 3px solid #444;
    font-size: 1.5rem;
    padding-right: 1rem;
}

::selection { 
    background-color: #447529;
    border-radius: 1rem;
}