* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    overflow-x: hidden;
}

:root {
    --a: #162521;
    --b: #2d4d25;
    --c: #447529;
    --d: #5f923a;
    --e: #91b569;
    --f: #ebebd3;
    --g: #ac9c88;
    --h: #543f35;
    --i: #3b322c;
    --j: #eee;

    --1: #0c1821;
    --2: #1B2A41;
    --3: #324a5f;
    --4: #7f8a9e;
    --5: #a6aabd;
    --6: #ccc9dc;

    --font-1: #3c557f;
    --font-2: #5c80bc;


    --grey-1: #111;
    --grey-2: #525252;
    --grey-3: #777;
    --grey-4: #bbb;
}

/* NAV */

nav.side {
    height: 100vh;
    background-color: var(--2);
    width: 18vw;
    position: fixed;
    display: flex;
    flex-direction: column;
}

nav.side > div.about {
    margin-top: auto;
    color: var(--grey-2);
    font-size: small;
}

nav.side > * {
    margin: 1vw;
}

.abstand {
    margin-bottom: 0.8rem;
}

.inhaltsverzeichnis {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a, a:link {
    color: var(--grey-4);
    text-decoration: none;
    letter-spacing: 2px;
}

h1 {
    color: var(--font-1);
    font-size: 1.8rem;
}

h1#main {
    font-size: 3rem;
    color: var(--grey-1);
}

h3 {
	color: var(--font-1);
}

h2 {
    color: var(--6);
}

/* MAIN */

main {
    margin-left: 18vw;
    height: auto;
    padding: 3rem;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
}

button {
    padding: 0.4rem 0.9rem;
    margin: 1rem 0.2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--5);
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover {
    padding: 0.6rem 1.1rem;
    margin: 0.8rem 0;
}

button:active {
    background-color: var(--4);
}

/* FORMS */

form > div.body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

form > div.body > div.card {
    padding: 1rem;
    background-color: var(--j);
    border-radius: 0.7rem;
}

form > div.body > div.card.active {
    padding: calc(1rem - 2px);
    border: 2px solid var(--c);
}

/* SECTIONS */

section.info-card {
    margin-top: 4rem;
    margin-bottom: 4rem;
} 

section.info-card > div.header {
    display: flex;
    margin-bottom: 1rem;
}

section.info-card > div.header > h3 {
    margin-left: 1rem;
    align-self: center;
    color: var(--font-2);
}

section.info-card > div.header > h1 {
    border-right: 3px solid #444;
    font-size: 1.8rem;
    padding-right: 1rem;
}

section.info-card > div.main-text {
    max-width: 55vw;
}

::selection { 
    background-color: var(--3);
    border-radius: 1rem;
}


/* popup */

.popup {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%) scale(0);

    z-index: 101;

    height: 50vh;
    width: 30vw;
    background-color: #bee4ff;
    border-radius: 1rem;
    box-shadow: 5px 5px #2222;

    display: grid;
    justify-content: center;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup > img {
    height: 10rem;
    margin: 0 auto;
}

.popup > h1 {
    margin: 0 auto;
    margin-top: 1rem;
}

img.confetti {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    transform: scale(0);
}

img.confetti.active {
    transform: scale(1);
}

/* images */

div.float {
    /* float: right; */
    display: grid;
    text-align: center;
    margin: 2rem;
    margin-top: 0;
    width: calc(100vw - (73vw + 8rem));
}

div.float > img {
    max-width: 15rem;
    max-height: 20rem;
    justify-self: center;
}

div.float > span {
    font-size: 0.7rem;
}

.main-text > div.images  {
    position: absolute;
    left: calc(73vw + 3rem);

    display: flex;
    flex-direction: column;
}

.main-text > div.images-down {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.main-text > div.images-down > div > img {
    height: 8rem;
}

.main-text > div.images-down > div {
    display: grid;
    text-align: center;
    margin: 2rem;
    margin-top: 0;
}

.main-text > div.images-down > div > img {
    justify-self: center;
}

.main-text > div.images-down > div > span {
    font-size: 0.7rem;
}








fieldset {
    margin-top: 1rem;
    width: 50%;
    border-radius: 5px;
}

legend {
    font-size: 1.3rem;
    color: #53779d;
}





img.muster {
    position: fixed;
    right: 0;
    z-index: -1;
    width: 23rem;
}

img.muster.top {
    top: 0;
}

img.muster.down {
    bottom: 0;
    width: 15rem;
}


.source, .source:visited, .source:link {
    color: #000;
    letter-spacing: normal;
    text-decoration: underline;
    width: fit-content;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--3);
}


.question {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#score {
    text-align: center;
}